@using BookStore.Common
@{
    this.ViewData["Title"] = "Orders";
}

<div class="breadcrumbs">
    <div class="container">
        <ul class="items">
            <li class="item home">
                <a asp-controller="Home" asp-action="Index" title="Отиди на основата страница">
                   Main Page
                </a>
            </li>
            <li class="item cms_page">
                <strong>Доставка за 2,90 лв.; При поръчки на стойност над 39 лв. – безплатна</strong>
            </li>
        </ul>
    </div>
</div>

<main id="maincontent" class="page-main"><a href="#" id="contentarea" tabindex="-1" style="visibility: hidden; display:none;">skip</a>
<div class="columns col1-layout"><div class="container"><div class="row"><div class="col-lg-12 col-md-12"> <div class="page-title-wrapper">
<h2 class="page-title">
<span class="base" data-ui-id="page-title-wrapper">Доставка за 2,90 лв.; При поръчки на стойност над 39 лв. – безплатна</span> </h2>
</div>
<div class="page messages"><div data-placeholder="messages"></div>
<div data-bind="scope: 'messages'">
</div>

</div><div class="column main"><input name="form_key" type="hidden" value="vWC17MxvJFgsc6xM">


<div></div><p>Вашите заявки се обработват всеки работен ден от 9,30 до 18,00 ч.<br><br>Направени до 16,00 ч. поръчки за страната и чужбина се предават на куриерска служба в рамките на 3 работни&nbsp;дни&nbsp;или според графика за обслужване на съответното населено място. За страната Книгомания работи само с куриерска служба „Спиди".</p>
<p><strong>Доставките за София на наличните заглавия се изпълняват от куриер на Книгомания в рамките на два работни&nbsp;дни.</strong></p>
<p><br><br><strong>Доставката в рамките на страната е 2,90 лв.</strong></p>
<p>&nbsp;</p>
<p><strong>При поръчки на стойност над 39 лв. доставката е безплатна.</strong></p>
<p><br><br>Всички посочени цени са в български левове с включен ДДС.<br><br>Приемат се плащания с наложен платеж, чрез e-Pay и PayPal.<br><br>&nbsp;<br>При работа на сайта в режим на английски език цените се преизчисляват автоматично според официалния курс на БНБ 1 евро за деня. Минималната цена за доставка в чужбина е 3,80 евро (за книги с тегло до 200 г. в рамките на ЕС) и нараства в зависимост от избраната държава.</p>
<p>&nbsp;</p>
<p><strong>ПРАВО НА ОТКАЗ при онлайн поръчки и стандартен формуляр КЗП</strong></p>
<p>Стандартен формуляр за упражняване право на отказ при online покупки</p>
<p>Онлайн линк КЗП:&nbsp;<a href="https://kzp.bg/standarten-formulyar-za-uprazhnyavane-pravo-na-otkaz-pri-online-pokupki" target="_blank" rel="noopener">https://kzp.bg/standarten-formulyar-za-uprazhnyavane-pravo-na-otkaz-pri-online-pokupki</a></p>
<p>Изтеглете&nbsp;<span style="text-decoration: underline;"><a href="https://kzp.bg/data/content/u/8/upload/Formulqr%20otkaz%20online.docx" target="_blank" rel="noopener">оттук</a>&nbsp;</span></p>
<p>Линк към&nbsp;<strong>Комисия за защита на потребителите (КЗП)&nbsp;</strong><span style="text-decoration: underline;"><a href="https://kzp.bg/" target="_blank" rel="noopener">https://kzp.bg</a></span></p>
<p>Линк към платформата за решаване на потребителски спорове на Европейската комисия<span style="text-decoration: underline;">:&nbsp;<a href="http://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">http://ec.europa.eu/consumers/odr</a></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></div></div></div></div></div></main>