@using BookStore.Common
@{
    this.ViewData["Title"] = "Orders";
}


<main id="maincontent" class="page-main">
    <a href="#" id="contentarea" tabindex="-1" style="visibility: hidden; display:none;"> skip </a>
    <div class="columns col1-layout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="page -title-wrapper ">
                        <h2 class="page-title">
                            <span class="base" data-ui-id="page-title-wrapper"> Delivery 3,80 € </span>
                        </h2>
                    </div>
                    <div> </div> <p> Your orders are processed every working day from 9.30 am to 6.00 pm. <br>  Orders placed by 4 pm for the country and abroad are delivered to the courier service within 3 working & nbsp; days & nbsp; or according to the service schedule of the respective settlement. For the country Knigomania works only with the courier service "Speedy". </p>
                    <p> <strong> Deliveries to Sofia of the available titles are made by a Bookmania courier within two working & nbsp; days. </strong> </p>
                    <p>  <br> <strong> Delivery within the country is € 3,80 </strong> </p>
                    <p> & nbsp; </p>
                    <p> <strong> For orders over € 39, delivery is free. </strong> </p>
                    <p>  <br> All prices are in Bulgarian levs with VAT included. <br> <br> Cash on delivery, via e-Pay and PayPal are accepted. <br> <br> & nbsp; <br> When operating the site in English mode, prices are automatically recalculated according to the official BNB exchange rate of 1 euro per day. The minimum price for delivery abroad is 3.80 euros (for books weighing up to 200 years within the EU) and increases depending on the selected country. </p>
                    <p> & nbsp; </p>
                    <p> <strong> RIGHT OF REFUSAL for online orders and standard CPC form </strong> </p>
                    <p> Standard online opt-out opt-out form </p>
                    <p> Online link of the CPC: & nbsp; <a href="https://kzp.bg/standarten-formulyar-za-uprazhnyavane-pravo-na-otkaz-pri-online-pokupki" target="_ blank" rel=" noopener "> https://kzp.bg/standarten-formulyar-za-uprazhnyavane-pravo-na-otkaz-pri-online-pokupki </a> </p>
                    <p> Download & nbsp; <span style="text-decoration: underline;"> <a href="https://kzp.bg/data/content/u/8/upload/Formulqr%20otkaz%20online.docx" target="_ blank" rel="noopener"> here </a> & nbsp; </span> </p>
                    <p> Link to & nbsp; <strong> Consumer Protection Commission (CPC) & nbsp; </strong> <span style="text-decoration: underline;"> <a href="https://kzp.bg/" target="_ blank" rel="noopener"> https://kzp.bg </a> </span> </p>
                    <p> Link to the European Commission's Consumer Dispute Resolution Platform <span style="text-decoration: underline;">: & nbsp; <a href="http://ec.europa.eu/consumers/odr" target="_ blank" rel="noopener"> http://ec.europa.eu/consumers/odr </a> </span> </p>
                </div>
            </div>
        </div>
    </div> </div>
</main>