@using Microsoft.Extensions.Options
@inject IOptions<BookStore.Web.Data.StripeSettings> Stripe

    @{
    this.ViewData["Title"] = "Payment";
}

<div class="center">
    <form asp-controller="Payment" asp-action="Charge" method="POST">
        <article>
            <label>Amount: 6.00</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="pk_test_51KkssRBK8vsMODVi3tyH3xsyANw4tQQExRG52qjaqirUPxA4z2ZkRUyBPIQg5lzmbAzvDlYEoFb1S3CuxRJPgd3t00PFM7ZXrZ"
                data-locate="auto"
                data-description="Sample Charge"
                data-amount="@(6 * 100)">
        </script>
    </form>

</div>