@using BookStore.Common
@{
    this.ViewData["Title"] = "Method of payment";
}

<div class="breadcrumbs">
<div class="container">
<ul class="items">
<li class="item home">
<a asp-controller="Home" asp-action="Index" title="Отиди на основата страница">
Main Page</a>
</li>
 <li class="item cms_page">
                <strong>@this.ViewData["Title"]</strong>
            </li>
</ul>
</div>
</div>

<main id="maincontent" class="page-main"><a href="#" id="contentarea" tabindex="-1" style="visibility: hidden; display:none;">skip</a>
<div class="columns col1-layout"><div class="container"><div class="row"><div class="col-lg-12 col-md-12"> <div class="page-title-wrapper">
<h2 class="page-title">
<span class="base" data-ui-id="page-title-wrapper">Начин на плащане</span> </h2>
</div>
<div class="page messages"><div data-placeholder="messages"></div>
<div data-bind="scope: 'messages'">
</div>

</div><div class="column main"><input name="form_key" type="hidden" value="vWC17MxvJFgsc6xM">



<div></div><p>Заплащането на направените поръчки може да се извършва по няколко начин:</p>
<ul>
<li><strong>В брой/с наложен платеж</strong> –&nbsp;плаща се на куриера, който доставя продуктите; заплащате стойността на Вашата поръчка без допълнителни такси освен посочената крайна стойност на поръчката в сайта.</li>
<li><strong>По банков път</strong>&nbsp;– клиентът заплаща стойността на поръчката по посочената банкова сметка в лева или евро. Поръчката ще бъде изпълнена след получаване на паричния превод по сметката на КНИГОМАНИЯ ЕООД. Потребителят получава номер на сметка КНИГОМАНИЯ ЕООД по имейл след поискването й при заявяване на поръчката.</li>
<li><strong>Чрез еPay/PayPal</strong> –&nbsp;плащането се извършва с дебитна или кредитна карта за регистрирани потребители в ePay.bg/PayPal. При потвърждаване на поръчката, сайтът автоматично Ви прехвърля към ePay.bg/PayPal.com, за да извършите плащането.</li>
</ul>
<p>При <strong>плащане в брой</strong> на поръчаните стоки и услуги Потребителят се задължава да депозира в момента на доставката на КНИГОМАНИЯ ЕООД или на неговия представител, извършващ доставката, пълната стойност на доставяната поръчка.&nbsp;</p>
<p>При <strong>плащане по банков път в лева</strong> Потребителят депозира сума, равна на стойността на направената поръчка, в банковата сметка в лева на КНИГОМАНИЯ ЕООД в&nbsp;банка ДСК ЕАД и едва след като депозитът бъде потвърден, се доставят поръчаните стоки и услуги. В основание за плащане задължително се вписва&nbsp; номер на поръчката. Всички такси и комисиони са за сметка на Потребителя.&nbsp;</p>
<p>При <strong>плащане по банков път в евро</strong> Потребителят депозира сума, равна на стойността на направената поръчка, в банковата сметка в евро на КНИГОМАНИЯ ЕООД в&nbsp; ДСК ЕАД – и едва след като депозитът бъде потвърден, се доставят поръчаните стоки и услуги. В основание за плащане задължително се вписва номер на поръчката. Всички такси и комисиони са за сметка на Потребителя.&nbsp;</p>
<p>При <strong>електронно плащане с дебитна или кредитна карта</strong> Потребителят депозира сума, равна на стойността на направената поръчка и едва след като транзакцията бъде потвърдена, се доставят поръчаните стоки и услуги. За да поръчате продукт от PickABook.bg, НЕ е нужно да предоставяте данни от кредитна или дебитна карта. Необходими са единствено данни за извършване на доставката, както и тези за оформяне на плащането и условията за рекламация.</p>
<p>В основание за плащане задължително се вписва&nbsp; номер на поръчката. Всички такси и комисиони са за сметка на клиента.</p>
<p>В случаи на онлайн плащания или плащания по банков път, КНИГОМАНИЯ ЕООД не носи отговорност за каквито и да е разходи във връзка с такси, комисиони или други допълнителни плащания, направени от Потребителя във връзка с транзакцията, както и в случаите на превалутиране, чиито условия се прилагат от банката. Разходите, свързани с плащания от такова естество, са единствено за сметка на Потребителя.</p>
<p><strong>1 EUR е равно на 1.95583 лева.</strong></p>
<p><strong>Срок за плащане</strong>&nbsp;</p>
<p>Срокът на плащане за поръчки, при които се изисква предварително заплащане, е до 7 дни от датата на генериране на поръчка в уебсайта. След изтичане на този срок и при ненаправено плащане, поръчката се счита за отказана.</p>
<p><strong>Отказ от закупена стока</strong>&nbsp;</p>
<p>Продуктът е обект на връщане при ненарушен търговски вид от страна на Купувача, имащ качеството на Потребител по смисъла на Закона за защита на потребителите, без обективна причина за рекламация, в срок до 14&nbsp; дни, съгласно чл. 55 от ЗЗП, като транспортните разходи са отговорност на Купувача. За целта Потребителят трябва да изпрати следните данни на имейл&nbsp;<strong>online@pickAbook.bg</strong>:</p>
<ol>
<li>Номер на поръчка.</li>
<li>Имена на клиент.</li>
<li>Телефон за връзка.</li>
<li>IBAN.</li>
<li>Титуляр на сметката.</li>
<li>Наименование на продукт, който подлежи на връщане.</li>
</ol></div></div></div></div></div></main>