@using BookStore.Common
@{
    this.ViewData["Title"] = "Method of payment";
}

<div class="breadcrumbs">
<div class="container">
</div>
</div>

<main id = "maincontent" class = "page-main"> <a href="#" id="contentarea" tabindex="-1" style="visibility: hidden; display:none;"> skip </a> 
<div class = "columns col1-layout"> <div class = "container"> <div class = "row"> <div class = "col-lg-12 col-md-12"> <div class = "page -title-wrapper ">
<h2 class = "page-title">
<span class = "base" data-ui-id = "page-title-wrapper"> Payment method </span> </h2>
</div>
<div class = "page messages"> <div data-placeholder = "messages"> </div>
</div>

</div> <div class = "main column"> <input name = "form_key" type = "hidden" value = "vWC17MxvJFgsc6xM">



<div> </div> <p> Payment for orders can be made in several ways: </p>
<ul>
<li> <strong> Cash / Cash on Delivery </strong> - & nbsp; paid to the courier who delivers the products; you pay the value of your order at no additional charge other than the final value of the order on the site. </li>
<li> <strong> By bank transfer </strong> & nbsp; - the customer pays the value of the order to the specified bank account in BGN or EUR. The order will be executed after receiving the money transfer to the account of KNIGOMANIA EOOD. The user receives an account number KNIGOMANIA EOOD by e-mail after its request when ordering. </li>
<li> <strong> Via ePay / PayPal </strong> - & nbsp; payment is made by debit or credit card for registered users in ePay.bg/PayPal. Upon confirmation of the order, the site automatically transfers you to ePay.bg/PayPal.com to make the payment. </li>
</ul>
<p> Upon <strong> payment </strong> of the ordered goods and services, the User undertakes to deposit at the time of delivery to KNIGOMANIA EOOD or its representative performing the delivery, the full value of the delivered order. & nbsp; </ p >
<p> Upon <strong> payment by bank transfer in BGN </strong> the User deposits an amount equal to the value of the order in the bank account in BGN of KNIGOMANIA EOOD in & nbsp; DSK Bank EAD and only after the deposit is confirmed, is deliver the ordered goods and services. The basis for payment must be entered & nbsp; order number. All fees and commissions are at the expense of the User. & Nbsp; </p>
<p> In case of <strong> payment by bank transfer in EUR </strong>, the User deposits an amount equal to the value of the order in the bank account in EUR of KNIGOMANIA EOOD in & nbsp; DSK EAD - and only after the deposit is confirmed, the ordered goods and services are delivered. The order number must be entered in the basis for payment. All fees and commissions are at the expense of the User. & Nbsp; </p>
<p> For <strong> electronic payment by debit or credit card </strong>, the user deposits an amount equal to the value of the order and only after the transaction is confirmed, the ordered goods and services are delivered. To order a product from PickABook.bg, you do NOT need to provide credit or debit card details. All that is needed is the details of the delivery, as well as the details of the payment and the terms of the complaint. </p>
<p> The basis for payment must be & nbsp; order number. All fees and commissions are at the expense of the client. </p>
<p> In cases of online payments or payments by bank, KNIGOMANIA Ltd. is not responsible for any costs related to fees, commissions or other additional payments made by the User in connection with the transaction, as well as in cases of conversion , the terms of which are applied by the bank. The costs related to payments of this nature are solely at the expense of the User. </p>
<p> <strong> 1 EUR is equal to BGN 1.95583. </strong> </p>
<p> <strong> Payment deadline </strong> & nbsp; </p>
<p> The payment period for prepaid orders is up to 7 days from the date the order is generated on the website. After the expiration of this term and in case of non-payment, the order is considered rejected. </p>
<p> <strong> Disclaimer </strong> & nbsp; </p>
<p> The product is subject to return in undamaged commercial form by the Buyer, having the quality of a User within the meaning of the Consumer Protection Act, without an objective reason for complaint, within 14 & nbsp; days, according to art. 55 of the CPA, as the transport costs are the responsibility of the Buyer. To do this, the User must send the following data to email & nbsp; <strong> online@pickAbook.bg </strong>: </p>
<ol>
<li> Order number. </li>
<li> Client names. </li>
<li> Contact phone. </li>
<li> IBAN. </li>
<li> Account holder. </li>
<li> Name of the product to be returned. </li>
</ol> </div> </div> </div> </div> </div> </main>