@{
    ViewData["Title"] = "Contact";
}


<main id="maincontent" class="page-main">
    <a href="#" id="contentarea" tabindex="-1" style="visibility: hidden; display:none;">skip</a>
    <div class="columns col1-layout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="page-title-wrapper">
                        <h2 class="page-title">
                            <span class="base" data-ui-id="page-title-wrapper">За контакт</span>
                        </h2>
                    </div>
                    <div class="page messages">
                        <div data-placeholder="messages"></div>
                        <div data-bind="scope: 'messages'">
                        </div>

                    </div><div class="column main">
                        <input name="form_key" type="hidden" value="79ydPhlUvbpVD8ZD">



                        <div></div><div class="contact-us-page">

                            <div class="row form-contact">
                                <div class="col-lg-4 col-md-4">
                                    <div class="contact-info">
                                        <div class="contact-content">
                                            <p class="contact-description">При възникнали въпроси относно изпълнението на ваша поръчка, моля указвайте номера на поръчката.</p>
                                            <ul class="address-info">
                                                <li class="add-icon">София, 1408, ул. "Д-р Стефан Сарафов" 24,<br> блок 3, офис 1</li>
                                                <li class="phone-icon">
                                                    <strong>тел.:</strong> <a title="Call" href="tel:02 421 58 51">02 421 58 51</a>
                                                </li>
                                                <li class="phone-icon">
                                                    <strong>моб.:</strong> <a title="Call" href="tel:0893 305 100">0893 305 100</a>
                                                </li>
                                                <li class="email-icon">
                                                    <strong>e-mail:</strong> <a title="Send Email" href="mailto:online@knigomania.bg">online@knigomania.bg</a>
                                                </li>
                                                <li class="email-icon">
                                                    <strong>e-mail:</strong> <a title="Send Email" href="mailto:legacy@knigomania.bg">legacy@knigomania.bg</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <form class="form contact" action="https://knigomania.bg/contact/index/post/" id="contact-form" method="post" data-hasrequired="* Задължителни полета" novalidate="novalidate">
                                        <fieldset class="fieldset">
                                        <div class="title-bonus-page">
                                        <h2>Контактна форма</h2>
                                        </div>
                                        <div class="left-input">
                                        <div class="field name required">
                                        <div class="control">
                                        <input placeholder="Име*" name="name" id="name" title="Име" value="" class="input-text" type="text" data-validate="{required:true}" aria-required="true">
                                        </div>
                                        </div>
                                        <div class="field email required">
                                        <div class="control">
                                        <input placeholder="Email*" name="email" id="email" title="Имейл" value="" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                        </div>
                                        </div>
                                        <div class="field telephone">
                                        <div class="control">
                                        <input placeholder="Телефон" name="telephone" id="telephone" title="Телефон" value="" class="input-text" type="text">
                                        </div>
                                        </div>
                                        </div>
                                        <div class="field comment required">
                                        <div class="control">
                                        <textarea placeholder="Коментар*" name="comment" id="comment" title="Какво мислите?" class="input-text" cols="5" rows="3" data-validate="{required:true}" aria-required="true"></textarea>
                                        </div>
                                        </div>
                                        <div class="field order_number">
                                        <div class="control">
                                        <input placeholder="Номер на поръчка" name="order_number" id="order_number" title="Номер на поръчка" value="" class="input-text" type="text">
                                        <small>При възникнали въпроси относно изпълнението на ваша поръчка, моля указвайте номера на поръчката.</small>
                                        </div>
                                        </div>
                                        <div class="field-recaptcha" id="msp-recaptcha-d84b65fc916e7398083ea5f17089d8f1-container" data-bind="scope:'msp-recaptcha-d84b65fc916e7398083ea5f17089d8f1'">
                                        </div>

                                        </fieldset>
                                        <div class="actions-toolbar">
                                        <div class="primary">
                                        <input type="hidden" name="hideit" id="hideit" value="">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contact">Изпрати</a>
                                        </div>
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>