@using BookStore.Common
@{
    this.ViewData["Title"] = "Publishing";
}

@*<div class="breadcrumbs">
<div class="container">
<ul class="items">
<li class="item home">
<a asp-controller="Home" asp-action="Index" title="Go to Home Page">
Home </a>
</li>
<li class="item cms_page">
<strong>@this.ViewData["Title"]</strong>
</li>
</ul>
</div>
</div>
<div class="column main"><input name="form_key" type="hidden" value="IK9VSUJcmnjZhQVZ">



<div></div><p><strong>Pick a book</strong> was established in 1992 and is the largest importer and distributor of foreign language literature in Bulgaria. The greatest merit of the company is supplying the Bulgarian market with the highest profile titles of the English and Russian literature simultaneously with their release in the respective countries.</p>
<p>The company’s professionalism and dedication have made it a preferred business partner in Bulgaria for leading publishers such as Harper Collins, Penguin, Oxford, Random House, Elsevier, h.f. Ullmann, Thames &amp; Hudson, Phaido, Hachette, Parrogon, Dorling Kindersley, ACT, EKSMO.</p>
<p>Pick a book is a leader in the publishing of quality picture albums, encyclopedias and reference books. The portfolio of the publishing house features over 540 titles from different fields: art, design, architecture, geography, natural and historical landmarks, gardening, transport, food and drink, military history, culinary art, psychology, naturopathy, photography, books on self-improvement, dictionaries, music, sports. Most of the books are from world famous series such as: <em>1001 Natural Wonders You Must See</em><em>, </em><em>501 Must Visit Cities</em><em>, Encyclopedia of the Sacred Places, The Wonderful Culinary Journey, The Golden Book of Chocolate, Art – The Whole Story, Historical&nbsp; Atlas, The Psychology Book, The History book, The Politic book, The Art book, The Math book, Curious History of Mathematics, Photography, The Whole Story</em><em>, How to Avoid a Climate Disaster</em><em>, </em>&nbsp;<em>The Power of Geography</em>, <em>The Art of Business Wars, Done! The Secret Deals that are Changing our World</em> and many others.</p>
<p><strong>Pick a book</strong> is also one of the leading publishers in the field of children's literature, including all genres and age segments. The books are of high print quality, giving the youngest readers not only knowledge but also teaching them values, encouraging independent thinking, imagination and various activities.</p>
<p>Apart from its own bookstores, <strong>Pick a book </strong>has over 21 exclusively managed commercial outlets for selling books at busy locations such as large retail chains, airport terminals, etc. It is also a leader in the sales of e-books through its website, <a href=""></a></p> 
*@

<div class="about-section">
  <h1>About Us Page</h1>
  <p>PickABook was established in 1992 and is the largest importer and distributor of foreign language literature in Bulgaria. The greatest merit of the company is supplying the Bulgarian market with the highest profile titles of the English and Russian literature simultaneously with their release in the respective countries.</p>
  <p>The company’s professionalism and dedication have made it a preferred business partner in Bulgaria for leading publishers such as Harper Collins, Penguin, Oxford, Random House, Elsevier, h.f. Ullmann, Thames & Hudson, Phaido, Hachette, Parrogon, Dorling Kindersley, ACT, EKSMO..</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/img/firstPerson1.jfif" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/secondPErson2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/thirdPesron4.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Writer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. </p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>