<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <section class="py-0 pt-md-0">
                    <div class="container text-center">
                        <h3 class="pt-2">Ups. Something is wrong.</h3>
                        <img src="https://media0.giphy.com/media/yIgR9t9b53uZG/giphy.gif" class="mx-auto d-block img-fluid">
                        <p>
                         <a asp-controller="Home" asp-action="Index" class="btn btn-link">Back to Home</a>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>