@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1 class="h1">@this.ViewData["Title"]</h1>
<p>
At Pick a Book we value all of our customers and understand that you care about the privacy and security of your personal information. Our Privacy Policy applies to Pick a Book's collection, storage, use, and disclosure of personal information that may be collected by us when you interact with Barnes & Noble, such as when you visit our stores or websites, or use our devices or applications, participate in our Member program, or deal with customer service.

Protecting the privacy and security of your personal information is a priority at Pick a Book, and we do our best to ensure that your personal information is always handled in a safe and responsible manner.

To read the complete Pick a Book Privacy Policy, please click here. In it you will find the answers to the following questions:

What is the personal information that we collect?
Why do we collect personal information?
How do we collect your personal information?
How do we use personal information?
With whom do we share personal information?
How do we secure personal information?
How do we respect your choices about your personal information?
Barnes & Noble does not sell your personal information under the customary definition of sale.
Whom do I contact if I have questions or concerns?
What other information about Pick a Book Privacy Policy would I want to know?</p>
