.ftco-navbar-light {
    background: #1c2938 !important;
    z-index: 3;
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
    box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
    width: inherit;

    @include media-breakpoint-down(md) {
        background: $black !important;
        position: relative;
        top: 0;
        padding: 10px 15px;
    }

    .navbar-brand

{
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    &:hover, &:focus

{
    color: $white;
}

}

.navbar-nav {
    @include media-breakpoint-down(md) {
        padding-bottom: 10px;
    }

    > .nav-item

{
    > .nav-link

{
    font-size: 14px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: lighten($black,90%);
    position: relative;
    &:hover

{
    color: $primary;
}

opacity: 1!important;
@include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
    padding-top: .9rem;
    padding-bottom: .9rem;
    color: rgba(255,255,255,.7);
    &:hover

{
    color: $white;
}

}
}

.dropdown-menu {
    border: none;
    background: $white;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
    box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
    border-radius: 4px;
    width: 100%;
    .dropdown-item

{
    font-size: 12px;
    color: $black;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    &:hover, &:focus

{
    background: $primary;
    color: $white;
}

}

.img {
    width: 100%;
    display: block;
    height: 250px;
    margin-bottom: 20px;
}

.text {
    h3

{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    a

{
    color: $black;
}

}

span {
    font-size: 14px;
    color: rgba(0,0,0,.2);
}

}

@include media-breakpoint-down(md) {
    background: #202020;
    padding: 0 !important;

    .dropdown-item {
        color: rgba(255,255,255,.8);
        border-color: rgba(255,255,255,.1);
    }
}

}


&.cta {
    > a

{
    color: $white;
    background: $primary;
    border-radius: 0px;

    @include media-breakpoint-down(sm) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include media-breakpoint-down(md) {
        color: $white;
        background: $primary;
        border-radius: 4px;
    }
}

}

&.active {
    > a

{
    color: $primary;

    @include media-breakpoint-down(md) {
        color: $white;
    }
}

}
}
}

.navbar-toggler {
    border: none;
    color: rgba(255,255,255,.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    &:focus

{
    outline: none !important;
}

}
}
