/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: relative;
    min-height: 100%;
}

body {*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}*/

body {
    background: #f4f4f4;
}

.nav-item {
    font-size: 0.9em !important;
}
h4.card-title {
    font-size:0.9em !important;
    height:70px !important;
}
footer{
    line-height:3em !important;
    background-color:#808080;
    
}

    footer .container {
        color: #fff !important;
    }

footer a{
    color: #fff !important;
    text-decoration:none;
}
h1{
    text-align:center;
    font-size:1.7em;
    font-weight:normal;
}
.products{
    list-style:none;
}

.product-item-info {
    
    border: 1px solid #e7e7e7;
    background-color:#fff;
}

.bookTitleLink{
    text-decoration:none !important;
    color:#717171 !important;
    padding-bottom:10px;
    display:block;
}

.bookTitle .bookTitleLink {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 5px;
}

.bookTitle .bookTitleLink:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

.bookTitle .bookTitleLink:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
    
}

