@{
    this.ViewData["Title"] = "...";
}


<div class="breadcrumbs">
        <div class="container">
     <ul class="items">
      <li class="item home">
           <a href="https://knigomania.bg/" title="Отиди на основата страница">Основна страница</a>
    </li>
 <li class="item product">
       <span>@this.ViewData["Title"]</span>
         </li>
      </ul>
   </div>
</div>

<main id="maincontent" class="page-main">
    


    <a href="#" id="contentarea" tabindex="-1" style="visibility: hidden; display:none;">skip</a>
   <div class="columns col2-layout">
        


        <div class="container">
            


            <div class="row">
                


                <div class="col-lg-9 col-md-9 col-left-sidebar">
                    


                    <div class="page messages">
                        


                        <div data-placeholder="messages"></div>
                     <div data-bind="scope: 'messages'">
</div>

                 </div><div class="column main">
                        


                        <div class="product media">
                            


                            <a href="#" id="gallery-prev-area" tabindex="-1" style="visibility: hidden; display:none;">skip</a>
                     <div class="action-skip-wrapper">
                                


                                <a class="action skip gallery-next-area" href="#gallery-next-area">

                                </a>
                    </div>
       <div class="gallery-placeholder" data-gallery-role="gallery-placeholder">
<div class="fotorama--hidden"></div><style></style><div class="fotorama-item fotorama fotorama1648704774896" data-gallery-role="gallery">
                  <div data-gallery-role="fotorama__focusable-start" tabindex="-1"></div>
<div class="fotorama__wrap fotorama__wrap--css3 fotorama__wrap--slide fotorama__wrap--toggle-arrows fotorama__wrap--no-controls" style="min-width: 0px; max-width: 100%;">
                                        <div class="fotorama__stage" data-fotorama-stage="fotorama__stage" style="min-width: 330px; min-height: 330px; width: 475px; height: 475px;">
<div class="fotorama__arr fotorama__arr--prev fotorama__arr--disabled" tabindex="-1" role="button" aria-label="Previous" data-gallery-role="arrow" disabled="disabled" style="display: none;">
                                       <div class="fotorama__arr__arr"></div>
                           </div>
<div class="fotorama__stage__shaft" tabindex="0" data-gallery-role="stage-shaft" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); margin-left: 0px; width: 475px;">
                                            <div class="fotorama__stage__frame fotorama__active fotorama_vertical_ratio fotorama__loaded fotorama__loaded--img" aria-hidden="false" data-active="true" style="left: 0px; border:none;">
                                <div class="fotorama__caption" aria-hidden="true">
<div class="fotorama__caption__wrap">Таро - комплект карти и книга-инструкция</div>
</div>
                                               </div>
                                   <div class="fotorama__stage__frame fotorama_vertical_ratio fotorama__loaded fotorama__loaded--img fotorama__active" aria-hidden="false" data-active="true" style="left: 0px;" href="https://knigomania.bg/media/catalog/product/cache/02f16ac392ba7c312a70e2f3c5d752a7/t/a/taro-78-karti-s-rakovodstvo-9786197586657.jpg">
                                                    


                                                    <img src="https://knigomania.bg/media/catalog/product/cache/02f16ac392ba7c312a70e2f3c5d752a7/t/a/taro-78-karti-s-rakovodstvo-9786197586657.jpg" class="img-thumbnail" alt="Таро - комплект карти и книга-инструкция" aria-labelledby="labelledby1648704774902" class="fotorama__img" aria-hidden="false"><div class="fotorama__caption" aria-hidden="true">
                                                                                     <div class="fotorama__caption__wrap" id="labelledby1648704774902">Таро - комплект карти и книга-инструкция</div>
         </div>
                                                


                                                </div>
                                            


                                            </div>
                      <div class="fotorama__arr fotorama__arr--next fotorama__arr--disabled" tabindex="-1" role="button" aria-label="Next" data-gallery-role="arrow" disabled="disabled" style="display: none;">
<div class="fotorama__arr__arr"></div>
                                   </div>
                           <div class="fotorama__video-close"></div>
<div class="fotorama__zoom-in zoom-in-loaded" data-gallery-role="fotorama__zoom-in" aria-label="Zoom in" role="button" tabindex="0"></div>
                                            <div class="fotorama__zoom-out zoom-out-loaded" data-gallery-role="fotorama__zoom-out" aria-label="Zoom out" role="button" tabindex="0"></div>

                                    </div>
                               <div class="fotorama__nav-wrap" data-gallery-role="nav-wrap" style="display: none;">
                           <div class="fotorama__nav" style="height: 154px;">

<div class="fotorama__thumb__arr fotorama__thumb__arr--left fotorama__arr--disabled" role="button" aria-label="Previous" data-gallery-role="arrow" tabindex="-1" disabled="disabled" style="display: none;">
                                         <div class="fotorama__thumb--icon"></div>
                         </div>
<div class="fotorama__nav__shaft">
<div class="fotorama__thumb-border" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); width: 1px; height: 150px;"></div>
                                            </div>
                                        <div class="fotorama__thumb__arr fotorama__thumb__arr--right fotorama__arr--disabled" role="button" aria-label="Next" data-gallery-role="arrow" tabindex="-1" disabled="disabled" style="display: none;">
<div class="fotorama__thumb--icon"></div>
                                              </div>
                                  </div>
</div>
</div>
<div data-gallery-role="fotorama__focusable-end" tabindex="-1"></div>
  </div>
                       <div class="magnifier-preview magnify-hidden" data-gallery-role="magnifier" id="preview" style="display:none;"></div>

                           <div class="label-product label-new">
                             <span class="new-product-icon">Ново</span>
                             </div>

                        </div>

     <div class="action-skip-wrapper">
                                


                                <a class="action skip gallery-prev-area" href="#gallery-prev-area">
z
</a>
</div><a href="#" id="gallery-next-area" tabindex="-1" style="visibility: hidden; display:none;">skip</a>
                       </div><div class="product-info-main">
                       


                                <div class="page-title-wrapper product">
         <h1 class="page-title">
                         <span class="base" data-ui-id="page-title-wrapper">Таро - комплект карти и книга-инструкция</span>
                


                                           </h1>
</div>
                       <div class="product-info-price">
                                


                                <div class="product-info-stock-sku">
                                  <div class="stock available" title="Наличност">
                                  <span>На склад</span>
                            </div>
                            <div class="product attribute sku">
<strong class="type">ISBN</strong>
<div class="value">9786197586657</div>
</div>
</div><div class="price-box price-final_price" data-role="priceBox" data-product-id="114905" data-price-box="product-id-114905">
<span class="price-container price-final_price tax weee">
<span id="product-price-114905" data-price-amount="22" data-price-type="finalPrice" class="price-wrapper "><span class="price">22,00&nbsp;лв.</span></span>
</span>
</div>
                            


                            </div>
                            <div class="product-add-form">
                               <form data-product-sku="9786197586657" action="https://knigomania.bg/checkout/cart/add/uenc/aHR0cHM6Ly9rbmlnb21hbmlhLmJnL3Rhcm8ta29tcGxla3Qta2FydGktaS1rbmlnYS1pbnN0cnVrY2lqYS5odG1s/product/114905/" method="post" id="product_addtocart_form" novalidate="novalidate">
                                   <input type="hidden" name="product" value="114905">
                                    <input type="hidden" name="selected_configurable_option" value="">
                                    <input type="hidden" name="related_product" id="related-products-field" value="">
                                  <input type="hidden" name="item" value="114905">
                                  <input name="form_key" type="hidden" value="qlYfDIkvyZXIpQGr"> <div class="box-tocart">
                                 <div class="fieldset">
                             <div class="field qty">
<label class="label" for="qty"><span>Кол-во</span></label>
                                          <div class="control control-qty-cart">
    <input type="number" name="qty" id="qty" value="1" title="Кол-во" class="qty-default input-text qty" data-validate="{&quot;required-number&quot;:true,&quot;validate-item-quantity&quot;:{&quot;minAllowed&quot;:1,&quot;maxAllowed&quot;:10000}}">
                                                <div class="control-qty">
<span class="quantity-controls quantity-plus"></span>
           <span class="quantity-controls quantity-minus"></span>
                                                   <script type="text/javascript">
                                              require([
                                                                      'jquery'
                                                          ], function ($) {
                                                     $('.quantity-plus').click(function () {
                                                          $('.qty-default').val(Number($('.qty-default').val()) + 1);
                                                                });

                                                              $('.quantity-minus').click(function () {
                                                                          var value = Number($('.qty-default').val()) - 1;
                                                             if (value > 0) {
                                                                                  $('.qty-default').val(value);
                                                                                               }

                                  });
                                              });
                                                     </script>
  </div>
                                        </div>
                                            </div>
<div class="actions">
                                   <button type="submit" title="Купи" class="action primary tocart" id="product-addtocart-button">
                                                 <span>Купи</span>
</button>
                                          <div id="instant-purchase" data-bind="scope:'instant-purchase'">
                                          <!-- ko template: getTemplate() -->
<!-- ko if: showButton() --><!-- /ko -->
        <!-- /ko -->
                                  </div>

                                      </div>
                                       </div>
                                   </div>

                            </form>
                </div>
           <script type="text/javascript">
require([
                                                'jquery',
                        'priceBox'
                   ], function($){
                    var dataPriceBoxSelector = '[data-role=priceBox]',
                                dataProductIdSelector = '[data-product-id=114905]',
                               priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

                             priceBoxes = priceBoxes.filter(function(index, elem){
                                     return !$(elem).find('.price-from').length;
                                    });
     priceBoxes.priceBox({'priceConfig': {"productId":"114905","priceFormat":{"pattern":"%s\u00a0\u043b\u0432.","precision":2,"requiredPrecision":2,"decimalSymbol":",","groupSymbol":"\u00a0","groupLength":3,"integerRequired":false}}});
                  });
                     </script>
             <div class="product-social-links">
               <div class="product-addto-links" data-role="add-to-links">
<a title="Добави към Списък с желани продукти" href="#" class="action towishlist" data-post="{&quot;action&quot;:&quot;https:\/\/knigomania.bg\/wishlist\/index\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:114905,&quot;uenc&quot;:&quot;aHR0cHM6Ly9rbmlnb21hbmlhLmJnL3Rhcm8ta29tcGxla3Qta2FydGktaS1rbmlnYS1pbnN0cnVrY2lqYS5odG1s&quot;}}" data-action="add-to-wishlist"><span>Добави към Списък с желани продукти</span></a>
<a title="Добави за сравнение" href="#" data-post="{&quot;action&quot;:&quot;https:\/\/knigomania.bg\/catalog\/product_compare\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:&quot;114905&quot;,&quot;uenc&quot;:&quot;aHR0cHM6Ly9rbmlnb21hbmlhLmJnL3Rhcm8ta29tcGxla3Qta2FydGktaS1rbmlnYS1pbnN0cnVrY2lqYS5odG1s&quot;}}" data-role="add-to-links" class="action tocompare">
<span>Добави за сравнение</span>
                         </a>
                 </div>

               </div>
<div class="product attribute overview">
            <div class="value">Класическата колода карти таро на Едуард Уейт с илюстрациите на Памела Колман Смит. Колодата включва малките и големи аркани и идва в кутия с включено ръководство за подредби и тълкуване на картите.</div>
                        </div>
                <div id="addthis_wrap">
                 <div class="addthis_toolbox addthis_default_style ">

                     <div class="addthis_inline_share_toolbox"></div>
              </div>
</div>
                        


                        </div> <div class="product info detailed">
                    <div class="product data items vertical-style">
                    <ul class="resp-tabs-list" role="tablist">
               <li class="data item title active" aria-labelledby="tab-label-additional-title" data-role="collapsible" id="tab-label-additional" role="tab" data-collapsible="true" aria-controls="additional" aria-selected="false" aria-expanded="true" tabindex="0">
                                <a class="data switch" tabindex="-1" data-toggle="switch" href="#additional" id="tab-label-additional-title">
                                           Характеристики и описание
              


</a>
</li>
<li class="data item title" aria-labelledby="tab-label-storehouse-title" data-role="collapsible" id="tab-label-storehouse" role="tab" data-collapsible="true" aria-controls="storehouse" aria-selected="false" aria-expanded="false" tabindex="0">
<a class="data switch" tabindex="-1" data-toggle="switch" href="#storehouse" id="tab-label-storehouse-title">
                             Наличност в книжарници
                                    


                                        </a>
                         </li>
                 </ul>
               <div class="resp-tabs-container">
<div class="data item content resp-tab-content" id="additional" data-role="content" aria-labelledby="tab-label-additional" role="tabpanel" aria-hidden="false">
                           <div class="additional-attributes-wrapper table-wrapper">
                                       <table class="data table additional-attributes" id="product-attribute-specs-table">
     <caption class="table-caption">Повече информация</caption>
                                 <tbody>
                                                   <tr>
<th class="col label" scope="row">Автор</th>
             <td class="col data" data-th="Автор"><a class="product-item-link product-item-author-link" href="https://knigomania.bg/catalogsearch/advanced/result/?author%5B0%5D=63127">Артър Едуард Уейт</a></td>
                                          </tr>
                                              <tr>
<th class="col label" scope="row">Корица</th>
        <td class="col data" data-th="Корица">мека</td>
                                              </tr>
                                          <tr>
<th class="col label" scope="row">Език</th>
     <td class="col data" data-th="Език">български</td>
                                                  </tr>
                                      <tr>
<th class="col label" scope="row">Година</th>
<td class="col data" data-th="Година">2022</td>
               </tr>
                                   <tr>
                                                     <th class="col label" scope="row">Дата на получаване</th>
<td class="col data" data-th="Дата на получаване">28.03.2022 г.</td>
            </tr>
                                      <tr>
                                                  <th class="col label" scope="row">Издателство</th>
<td class="col data" data-th="Издателство"><a class="product-item-link product-item-publisher-link" href="publisher/asenevci">Асеневци</a></td>
        </tr>
                                           <tr>
                                             <th class="col label" scope="row">ID на книга</th>
<td class="col data" data-th="ID на книга">614320</td>
   </tr>
                      <tr>
 <th class="col label" scope="row">ISBN</th>
                                                       <td class="col data" data-th="ISBN">9786197586657</td>
</tr>
                 <tr>
                                         <th class="col label" scope="row">Категории</th>
                                                   <td class="col data" data-th="Категории"><a class="product-item-link product-item-category-link" href="https://knigomania.bg/ezoterika-parapsihologia/astrologija-i-horoskopi.html">Астрология и хороскопи</a><br><a class="product-item-link product-item-category-link" href="https://knigomania.bg/izdanija-na-b-lgarski-ezik.html">Книги на български език</a><br><a class="product-item-link product-item-category-link" href="https://knigomania.bg/new-books.html">Нови книги</a></td>
</tr>
             </tbody>
 </table>
</div>
                      <hr>
                          <div class="product attribute description">
              <div class="value">
                                                


                                                <p><strong>Класическата колода карти таро на Едуард Уейт с илюстрациите на Памела Колман Смит.</strong>&nbsp;Колодата включва малките и големи аркани и идва в кутия с включено ръководство за подредби и тълкуване на картите.</p>
<p>За да работите с таро са ви нужни само колода, въпрос и доверяваща се на магията душа. Един от основните начини за изучаване на таро е да теглите карта за себе си всеки ден. Чрез собствените си представи и живот ще можете да се докоснете до значението на картите на ново и по-дълбоко ниво. С тази класическа колода на Райдър Уейт и илюстрации на Памела Колман Смит ще се потопите в енергията на таро и ще научите повече както за себе си, така и за хората около вас.</p>
               <p><strong>Картите идват в удобна кутия с отделен капак.</strong></p>
                                            


                                            </div>
</div>
</div>
<div class="data item content resp-tab-content" id="storehouse" data-role="content" aria-labelledby="tab-label-storehouse" role="tabpanel" aria-hidden="true" style="display: none;">
                      <div class="storehouse-content">
                                  <ul>
         <li>София / Книгомания / бул. Васил Левски 28</li>
                             <li>София / Книгомания / бул. Прага 17</li>
                                 </ul>
           </div>
       </div>
      </div>
           </div>
                </div>
<input name="form_key" type="hidden" value="qlYfDIkvyZXIpQGr">



                     <div></div>

               <ul>
<li>
<div class="service-content">
 <div class="policy">
 <a href="https://knigomania.bg/delivery/"><em class="fa fa-truck"></em><span>Доставка за 2,90 лв. </span></a>
<p>Получете поръчката си бързо с най-евтината доставка за цялата страна. </p>
</div>
</div>
</li>
 <li>
                          <div class="service-content">
                         <div class="policy">
                                 <a href="https://knigomania.bg/nachin-na-plaschane/"><em class="fa fa-usd"></em><span>Начин на плащане</span></a>
       <p>Заплащането на направените поръчки може да се извършва по няколко различни начина.</p>
  </div>
 </div>
                      </li>
         <li>
         <div class="service-content">
               <div class="policy">
                       <a href="https://knigomania.bg/porachka-na-kniga-knigomania/"><em class="fa fa-phone"></em><span>Имате въпроси? Обадете ни се</span></a>
                    </div>
            </div>
                   </li>
<li>
<div class="service-content">
  <div class="policy">
 <a href="https://knigomania.bg/zamjana-i-vraschtane/"><em class="fa fa-refresh"></em><span>Замяна и връщане</span></a>
</div>
</div>
</li>
                       </ul>
                  </div><div class="block">
<ul class="items static-image">
                           <li class="item"><a title="Пасиансът на архангелите на Мария Лалева" href="maria-laleva-kniga.html" rel="nofollow"><img src="https://knigomania.bg/media/wysiwyg/Laleva_-_2021_-_001.jpg" alt="Пасиансът на архангелите на Мария Лалева" width="260" height="134"></a></li>
                 <li class="item"><a title="Сан Сан, Япония книга" href="juliana-antonova-kniga.html"><img src="https://knigomania.bg/media/wysiwyg/San_San_Japan_-_2021.jpg" alt="Сан сан, Япония  книга" width="260" height="134"></a></li>
<li class="item"><a title="Хвърчило към рая" href="nedelya-shtonova-kniga.html"><img src="https://knigomania.bg/media/wysiwyg/Nedelia_Shtonova_-_2021-min.jpg" alt="" width="260" height="134"></a></li>
</ul>
                </div>
                 <div>
                    <div class="admin__data-grid-outer-wrap" data-bind="scope: 'widget_recently_viewed.widget_recently_viewed'">
       <div data-role="spinner" data-component="widget_recently_viewed.widget_recently_viewed.widget_columns" class="admin__data-grid-loading-mask" style="display: none;">
                      <div class="spinner">
<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
</div>
</div>
<!-- ko template: getTemplate() -->
                         <!-- ko foreach: {data: elems, as: 'element'} -->
      <!-- ko if: hasTemplate() --><!-- ko template: getTemplate() -->
                       <!-- ko if: hasData() --><div class="block widget block-viewed-products-grid" data-bind="css: additionalClasses">
<div class="block-title">
<strong role="heading" aria-level="2" data-bind="text: label">Последно разгледани</strong>
</div>
<div class="block-content">
    <div data-bind="css: 'products-' + displayMode" class="products-grid">
   <ol class="product-items">
                    <!-- ko repeat: {foreach: filteredRows, item: '$row'} -->
                                            


                                            <li class="product-item" data-repeat-index="0">
                <div class="product-item-info">
                               <!-- ko fastForEach: {data: getRegion('general-area'), as: '$col'} -->
                                               <!-- ko template: $col.getBody() -->
     <!-- ko if: isAllowed() -->
                        <!-- ko if: imageExists($row()) --><a class="product-item-photo" data-bind="attr: {href: $row().url}" href="https://knigomania.bg/petdeset-dumi-za-d-zhd.html">
                                  <span class="product-image-container" data-bind="style: {width: getWidth($row()) + 'px'}" style="width: 75px;">
                                                          <span class="product-image-wrapper" data-bind="style: {'padding-bottom': getHeight($row())/getWidth($row()) * 100 + '%'}" style="padding-bottom: 120%;">
<img class="product-image-photo" data-bind="attr: {src: getImageUrl($row()),
                                       alt: getLabel($row()), title: getLabel($row())}" src="https://knigomania.bg/media/catalog/product/cache/ed4399c42ec13ba66ef1f9446563fa69/p/e/petdeset-dumi-za-dazhd-9789542838203.jpg" alt="Петдесет думи за дъжд" title="Петдесет думи за дъжд">
    </span>
              </span>
                             </a><!-- /ko -->
             <!-- /ko -->
<!-- /ko -->
               <!-- /ko -->
                                  <div class="product-item-details">
                                                        <!-- ko fastForEach: {data: getRegion('details-area'), as: '$col'} -->
<!-- ko template: $col.getBody() -->
           <!-- ko if: isAllowed() --><strong class="product-item-name">
                          <a data-bind="attr: {href: $row().url}, html: $col.getLabel($row())" href="https://knigomania.bg/petdeset-dumi-za-d-zhd.html">Петдесет думи за дъжд</a>
                                    </strong><!-- /ko -->
                <!-- /ko -->
                                                        <!-- ko template: $col.getBody() -->
<!-- ko if: isMsrpApplicable($row()) --><!-- /ko -->
         <!-- ko ifnot: isMsrpApplicable($row()) -->
                        <!-- ko if: isAllowed() --><div class="price-box">
                                      <!-- ko foreach: {data: getPrices($row()), as: '$price'} -->
                                    <!-- ko with: $price -->
                                                            <!-- ko template: getBody() -->
<!-- ko if: hasSpecialPrice($row()) --><!-- /ko -->
          <!-- /ko -->
                    <!-- /ko -->
                                                            <!-- ko with: $price -->
                               <!-- ko template: getBody() -->
                                          <!-- ko if: getRegularPrice($row()) -->
                  <span data-bind="css: {'old-price': hasSpecialPrice($row()), 'regular-price': !hasSpecialPrice($row())}" class="regular-price">
<span class="price-container tax weee" data-bind="css: getAdjustmentCssClasses($row())">
<!-- ko if: label && hasSpecialPrice($row()) --><!-- /ko -->
   <span class="price-wrapper price-including-tax" data-price-amount="" data-price-type="" data-bind="css: priceWrapperCssClasses, attr: priceWrapperAttr, html: getRegularPrice($row())" data-label="Вкл. Ддс"><span class="price">17,90&nbsp;лв.</span></span>
     <!-- ko if: !hasSpecialPrice($row()) -->
        <!-- ko foreach: {data: getAdjustments(), as: '$adj'} -->
          <!-- ko template: $adj.getBody() -->
             <!-- ko if: displayBothPrices() --><!-- /ko -->
               <!-- /ko -->
                                                                    <!-- ko template: $adj.getBody() -->
                  <!-- ko if: $adj.displayPriceInclFptDescr() || $adj.displayPriceExclFptDescr() -->
                     <!-- ko foreach: {data: $adj.getWeeeAttributes($row()), as: '$taxAttribute'} --><!-- /ko -->
                        <!-- /ko -->
                          <!-- ko if: $adj.displayPriceExclFptDescr($row()) --><!-- /ko -->
                             <!-- /ko -->
                               <!-- /ko -->
                                  <!-- /ko -->
                                     </span>
                                            </span>
                   <!-- /ko -->
<!-- /ko -->
      <!-- /ko -->
                                                            <!-- ko with: $price -->
                <!-- ko template: getBody() -->
                           <!-- ko if: showMinimalPrice --><!-- /ko -->
                                     <!-- /ko -->
                                                <!-- /ko -->
                                                            <!-- ko with: $price -->
                       <!-- ko template: getBody() -->
<!-- ko if: showMinRegularPrice($row()) --><!-- /ko -->
         <!-- /ko -->
                    <!-- /ko -->
                                                            <!-- ko with: $price -->
                               <!-- ko template: getBody() -->
                                         <!-- ko if: showMaximumPrice --><!-- /ko -->
                                 <!-- /ko -->
                                                         <!-- /ko -->
                                                            <!-- ko with: $price -->
  <!-- ko template: getBody() -->
             <!-- ko if: showMaxRegularPrice($row()) --><!-- /ko -->
                        <!-- /ko -->
                                   <!-- /ko -->
                                              <!-- /ko -->
                      </div><!-- /ko -->
 <!-- /ko -->
               <!-- /ko -->
                              <!-- /ko -->
                                            <!-- ko if: getRegion('action-primary-area')().length || getRegion('action-secondary-area')().length --><div class="product-item-actions">
                        <!-- ko if: getRegion('action-primary-area')().length --><div class="actions-primary">
<!-- ko fastForEach: {data: getRegion('action-primary-area'), as: '$col'} -->
     <!-- ko template: $col.getBody() -->
            <!-- ko if: isAllowed() --><!-- /ko -->
                   <!-- /ko -->
                          <!-- /ko -->
                                </div><!-- /ko -->
                                           <!-- ko if: getRegion('action-secondary-area')().length --><div class="actions-secondary" data-role="add-to-links">
                                                     <!-- ko fastForEach: {data: getRegion('action-secondary-area'), as: '$col'} -->
                                 <!-- ko template: $col.getBody() -->
                                                             <!-- ko if: isAllowed() --><!-- /ko -->
   <!-- /ko -->
                                                                <!-- ko template: $col.getBody() -->
          <!-- ko if: isAllowed() --><!-- /ko -->
                 <!-- /ko -->
                        <!-- /ko -->
                              </div><!-- /ko -->
                                         </div><!-- /ko -->
                    <!-- ko if: getRegion('description-area')().length --><div class="product-item-description">
<!-- ko fastForEach: {data: getRegion('description-area'), as: '$col'} -->
          <!-- ko template: $col.getBody() -->
                    <!-- ko if: isAllowed() --><!-- /ko -->
                               <!-- /ko -->
                                         <!-- /ko -->
                                                    </div><!-- /ko -->
                               </div>
              </div>
                                     </li><!-- /ko -->
                            </ol>
                       </div>
                       </div>
                          </div><!-- /ko --><!-- /ko --><!-- /ko -->
                      <!-- /ko -->
      <!-- /ko -->
             </div>
       </div>
                


                </div>
            


            </div>
        


        </div>
    


    </div></div>



</main>