@{
    this.Layout = "_Layout";
}

<div class="about-section">



    <a type="button" class="btn btn-secondary" asp-controller="Orders">Orders</a> 
    <a type="button" class="btn btn-secondary" asp-controller="Books">Books</a> 
    <a type="button" class="btn btn-secondary" asp-controller="Images">Images</a> 
    <a type="button" class="btn btn-secondary" asp-controller="Categories">Categories</a> 
    <a type="button" class="btn btn-secondary" asp-controller="UserQuestions">User Question</a> 
    </div>